body{
    margin: 0;
    padding: 0;
    height: auto;
}

header{
    background-image: url(/image/bg.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    color: #ffff;
}

hr{
    margin-top: -20px;
    width: 77.5%;
    margin-left: 155px;
}
#white{
    color: #ffff;
}

#apple{
    color: rgb(41, 198, 219);
}

#facebook{
    color: rgb(49, 93, 236);
}

#linux{
    color: rgb(219, 41, 41);
}

#wordpress{
    color: rgb(7, 7, 7);
}

/*----- navigation bar style -----*/
.container-nav {
    width: 80%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.navbar .nav {
    margin: 0;
    display: flex;
    list-style: none;
}

.navbar .nav .nav-list,
.brand{
    padding: 15px;
}

.brand .nav{
    margin-top: 5px;
}

.navbar .nav .nav-list .nav-link,
.nav-brand {
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase;
}

.nav a:hover{
    color: red;
}
.nav-list{
    margin-top: 45px;
}

/*----- Main -----*/
main, .in-main{
    width: 100%;
    height: 400px;
    display: flex;
    margin-left: 20px;
}

#text{
    margin-top: 30px;
}

/*----- free -----*/
.free{
    padding:1px;
    height: 100px;
    text-align: center;
    background: rgb(60, 95, 95);
    
}

/*----- page -----*/
.page{
    width: auto;
    height: 400px;
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#message,
#setting,
#research,
#computer{
    margin: 5px;
    padding: 20px;
    text-align: center;
}

/*----- Box -----*/
#box{
    width: 100%;
    height: 400px;
    background-image: url(/image/box-bg.jpg);
    background-size: cover;
    background-position: center;
}
.box-list{
    display: flex;  
}

#box1{
    padding: 15px;
    width: 500px;
    height: auto;
    margin-left: 50px;
    border-radius: 5px;
    margin-right: 50px;
    background: rgb(255, 255, 255);
}

.btn{
    margin: auto;
    width: 150px;
    height: auto;
    padding: 10px;
    border: none;
    outline: none;
    display: flex;
    color: #ffff;
    margin-left: 25px;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgb(41, 198, 219);
}
#btn-apple-color{
    background:rgb(41, 198, 219);
}

#btn-facebook-color{
    background:rgb(49, 93, 236);
}

#btn-linux-color{
    background:rgb(219, 41, 41);
}

#btn-wordpress-color{
    background:rgb(7, 7, 7);
}

/*----- Video-box -----*/
.video-box{
    display: flex;
    height: 300px;
    background: rgb(60, 95, 95);
}

#video,
#video-text{
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#video-text{
    margin-top: 20px;
}

#find{
    width: 150px;
    height: 25px;
    border: none;
    outline: none;
    color: #ffff;
    border-radius: 3px;
    background: rgb(41, 198, 219);
}  

.show{
    padding: 5px;
    text-align: center;
}

/*----- What IT D0 -----*/
.it-do{
    width: 100%;
    margin: 5px;
    height: 300px;
    padding: 20px;
    display: flex;
    margin-left: 50px;
}

.it-do-text{
    width: 50%;
    padding: 10px;
}

.it-do-service{
    width: 50%;
    padding: 25px;
    margin-top: -20px;
}

.it-do-text .it-do-service{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 60px;
}

/*----- Service -----*/
.service1{
    display: flex;
}
.left,
.right{
    margin-left: 3px;
    width: 50%;
    height: 50%;
}

#amazon,
#lenovo,
#google,
#alphabet{
    display: flex;
    margin-left: 33%;
}

.client{
    margin: 10px;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background: rgb(41, 198, 219);
}

/*-----Contact-----*/
.in-contact{
    display: flex;
    background: rgb(60, 95, 95);
}

#all-in-contact{
    display: flex;
    margin-left: 30px;
}

#about-us,
#get-in-touch,
#social-media{
    margin: 30px;
}

.social > a > i {
    padding: 10px;
    font-size: 40px;
    color: rgb(41, 198, 219);
}

/*-----Footer-----*/
footer{
    height: 40px;
    display: flex;
    color: #ffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgb(41, 198, 219);
}